body {
  background: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.university{
  font-size: 17px;
  font-weight: 500;
}

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #000;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #A7A4A4;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 200%;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container{
  margin-left: 250px;
  margin-top: 0px;
}
.timeline-article .content-left-container .timeline-image{
  width: 8vw;
  height: 8vw;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  margin-left: -150px;
  top: 34%;
  left: 17%;
  bottom: 60%;
}
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;

}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: absolute;
  width: 25em;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
  min-height: 65px;
  top: 40%;
  left: 30%;

}
.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  left: 24.25%;
  top: 22.5%;
  bottom: 60%;
  width: 6vw;
  height: 6vw;
  margin-left: -45px;
  color: #5A5959;
  border-radius: 100%;
  background: #fff;
  opacity: 90%;
  margin-top: 67px;
}
.timeline-article .meta-date .year,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 800;
}
.timeline-article .meta-date .year {
  font-size: 20px;
  line-height: 10px;
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
  position: absolute;
  margin-left: 38px;
  margin-top: 70px;
}
/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -45px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }

}
/*===== // Resonsive Vertical Timeline =====*/
